# AWS S3 설정
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_AWS_ACCESS_KEY
AWS_REGION=YOUR_AWS_REGION
S3_BUCKET_NAME=YOUR_S3_BUCKET_NAME

# MongoDB 설정
MONGO_HOST=localhost
MONGO_PORT=YOUR_MONGODB_PORT
MONGO_USER=YOUR_MONGODB_USER
MONGO_PASSWORD=YOUR_MONGODB_PWD
MONGO_DATABASE=YOUR_MONGODB_DB_NAME