# Web Crawling
beautifulsoup4>=4.12.0
requests>=2.31.0

# AWS
boto3>=1.29.0

# Database
pymongo>=4.6.0
pymysql
mysqlclient==2.2.4
mysql-connector-python==9.0.0

# Data Processing
numpy>=1.24.0,<2.0.0

# Machine Learning / NLP
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0+cpu
transformers>=4.35.0

# Environment Variables
python-dotenv>=1.0.0

# OpenAI
openai == 2.7.1

# Pydantic
pydantic == 2.12.3

# Django
Django==5.0.6
django-cors-headers
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1

# Dummy Data
Faker>=20.0.0

# solapi
httpx==0.28.1
solapi==5.0.2
